# Sample OpenOCD configuration for the STM32F3DISCOVERY development board

# Depending on the hardware revision you got you'll have to pick ONE of these
# interfaces. At any time only one interface should be commented out.

# Revision C (newer revision)
source [find interface/jlink.cfg]
#transport select "swd"

transport select swd

set CHIPNAME at91samd21g18
source [find target/at91samdXX.cfg]

#did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config srst_nogate
#reset_config trst_only

adapter_nsrst_delay 100
adapter_nsrst_assert_width 100

init
targets
reset halt

at91samd bootloader 0
program bootloader-XIAO_m0-v3.7.0-33-g90ff611-dirty.bin verify
at91samd bootloader 8192
reset
shutdown
